@charset "UTF-8";

/*
@import url(https://fonts.googleapis.com/css?family=Kalam);
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*/

/* Derived from standard Dreamweaver 5.5 oneColLiqCtrHdr.css */

body {
	font: 100%/1.4 Verdana, Geneva, Arial, Helvetica, sans-serif;
	/*
	For use 
	  background: #FFFFFF;
	For debugging
  	  background: #4E5869;
	*/
	background: #FFF;
	margin: 0;
	padding: 0;
	color: #000;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}

h1{
	font-size: 24px;
	text-align:left;
}
h2{
	font-size: 18px;
	font-weight: bold;
	background: #EEE
}
h3{
	font-size: 14px;
	font-weight: bold;
}

a img { /* removes the blue border displayed in some browsers around a link image */
	border: none;
}

/* Link styling must remain in this order */
a:link {
	text-decoration: none;
	color : #003399; 
	/* color:#414958; default */
	/* text-decoration: underline; */
	/* Yuk : Non-standards CSS3 extension */
	/*
	-webkit-transition-property: background;
	-webkit-transition-duration: 1.0s;
    -webkit-transition-timing-function: linear;
	*/
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}
a:visited {
	color:	#603390;
	text-decoration: none;
	/* color: #4E5869; default */
	/* text-decoration: underline; */
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: underline;
	color: #AA0000;
	background: #DDD;
	/*text-decoration: none;*/
}



/* ========*/
/* Figures */
/* ========*/
.Figure{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: Black;
}
.Figure img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Figure table{
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
}
.FigureCaption{
	width: 80%;
	margin-left: auto;
    margin-right: auto;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : Black;
	font-style:italic;
	font-size: 80%;
	line-height: 1.3em;
	text-align:justify
}




/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container {
	width: 95%;
	max-width: 900px;			/* IE6 does not respect this declaration. */
	/* min-width: 780px; */ 	/* IE6 does not respect this declaration. */
	background: #FFF;
	margin: 0 auto; 			/* the auto value on the sides, coupled with the width, centers the layout. It is not needed if you set the .container's width to 100%. */
	text-align:justify
}

/* ~~the header is not given a width. It will extend the full width of your layout. */
.header {
	background: #FFF;
}

/* Footer text has a grey background and switch off both backgrounds to links and the hover transition */
.footer {
	/* padding: 10px 0; */
	background-color:#cccccc;
	/* background: #6F7D94; default */
    text-align: right;
	font-size: small
}
.footer a:link{
	-webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.footer a:hover, a:active, a:focus{
	background: none;
}



/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/
.content {
	padding: 10px 0;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 15px 0px 40px; 
	/*padding: 0 15px 15px 40px; */
	/* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}




/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

/* Getting-attention "NB" text */
.NBorange{
	color: Red;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	background-color: Yellow;
}


